header{
    background-color: rgb(212, 195, 195);
}

main{
    height: 1000px;
}

.header-light{
    text-align: right;
    padding-bottom: 60px;
}

.header-light button{
    height: 40px;
    width: 100px;
}

main h1{
font-size: 23px;
font-family: "游ゴシック", "Yu Gothic";
} 

.bg-image {
background-image: url("./スクリーンショット\ \(48\).png");
background-size: cover;
filter: sepia(2%);
height: 1000px;
}

.bg-mask {
height: 100%;
background: rgba(255,255,255,0.32);
}
