<!DOCTYPE html>
<html lang="jp">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <script type="text/javascript" src="../stutic/css/jquery-3.4.1.min.js"></script>
        <!-- <script src="js/jqfloat.js"></script> -->

        <!-- <link rel="stylesheet" href="../stutic/css/top.css"> -->
        <link rel="stylesheet" href="../stutic/css/2.css">
        <title>Document</title>
</head>

<body>
<!-- <div class="h"> -->
<p>今日は何する？</p>
<!-- </div> -->

<!-- <div class="a"> -->
<a href="sports.html">スポーツ</a>
<!-- </div> -->

<div class="box"></div>
<!-- </div> -->

<!-- <div class="g"> -->
<img src="../stutic/css/スクリーンショット (48).png">
<!-- </div> -->

<!-- <div class="b"> -->
<div class="box2"></div>
<a href="sports.html">ハイキング</a>
<!-- </div> -->

<!-- <div class="c"> -->
<a href="sports.html">ウォーキング</a>
<div class="box3"></div>
<!-- </div> -->

<!-- <div class="d"> -->
<a href="sports.html">映画館</a>
<div class="box4"></div>
<!-- </div> -->


<a href="sports.html">空を飛ぶ</a>
<div class="box5"></div>






<script src="../stutic/css/top.js"></script>
</body>
</html>