<!DOCTYPE html>
<html lang="jp">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../stutic/css/base.css">
        <title>Document</title>
</head>
<body>
        <header>
                <div class="header-left">
                        <h1>脱ダラ！</h1>
                </div>
                
                <div class="header-light">
                        <!-- <button> <a href="./login.html">ログイン</a></button>
                        <button> <a href="./regist.html">新規登録</a></button> -->
                        <button> <a href="/login">ログイン</a></button>
                        <button> <a href="/regist">新規登録</a></button>
                </div>
        </header>
        <!-- <p>ここ、毎回表示されんの</p> -->

        {% block content %}
        {% endblock %}
</body>
</html>