<!DOCTYPE html>
<html lang="jp">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../stutic/css/top.css">
        <link rel="stylesheet" href="../stutic/css/top_responsibe.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

        
<!-- <script src="../stutic/css/top.js"></script> -->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<!-- <script src="js/jqfloat.js"></script> -->
        <title>Document</title>
</head>
<body>

<!-- <p>ooo</p> -->
<main>
<h1><a href="sports.html">スポーツ</a></h1>
<div class="box" id ="sss"></div>

<a href="sports.html">ハイキング</a>
<div class="box2"></div>

<img src="../stutic/css/スクリーンショット (48).png">
</main>

<a href="sports.html">ウォーキング</a>
<div class="box3"></div>

<a href="sports.html">映画館</a>
<div class="box4"></div>

<a href="sports.html">空を飛ぶ</a>
<div class="box5"></div>

</body>
<script src="../stutic/css/top.js"></script>
</html>


<!-- 
<script src="../stutic/css/top.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> -->
<!-- <script src="js/jqfloat.js"></script> -->

<!-- <script src="../stutic/css/top.js"></script> -->

<!-- <script src="../stutic/css/top.js"></script> -->