{% extends "base.html" %}
{% block content %}
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<!-- <link rel="stylesheet" href="../stutic/css/outside.css"> -->
<link rel="stylesheet" href="../stutic/css/inside.css">
<!-- 
<h1>今日お勧めする外での過ごし方は{{y}}です</h1> -->

<!-- <img src="../stutic/css/{{z}}"> -->
<!-- <img src="../stutic/css/スクリーンショット (50).png"> -->
<header><p></p></header>
<body>
    <p>今日のおすすめ</p>

    <a href="{{bb}}">
        <h1>
            <!-- {{b}} -->
            <img src="https://cdn.discordapp.com/attachments/654119593803251745/655948175454240768/SUNABACO.png">

        </h1>
        <div class="box"></div>
    </a>


    <a href="{{cc}}">
        <h2>
            <!-- {{c}} -->
            <img src="https://cdn.discordapp.com/attachments/654119593803251745/655948175454240768/SUNABACO.png">

        </h2>
        <div class="box2"></div>
    </a>

    <a href="{{dd}}">
        <h3>
            <!-- {{d}} -->
            <img src="https://cdn.discordapp.com/attachments/654119593803251745/655948175454240768/SUNABACO.png">

        </h3>
        <div class="box3"></div>
    </a>

    <a href="{{ee}}">
        <h4>
            <!-- {{e}} -->
            <img src="https://cdn.discordapp.com/attachments/654119593803251745/655948175454240768/SUNABACO.png">

        </h4>
        <div class="box4"></div>
    </a>

    
    <a href="/inside">
        <h5>
            <!-- もう一度選ぶ -->
            <img src="https://cdn.discordapp.com/attachments/654119593803251745/655948175454240768/SUNABACO.png">

        </h5>
        <div class="box5"></div>
    </a>
    
    <img src="../stutic/css/スクリーンショット (50).png">
    
    <script src="../stutic/css/outside.js"></script>
</body>
    



{% endblock %}