{% extends "base.html" %}
{% block content %}
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<!-- <link rel="stylesheet" href="../stutic/css/outside.css"> -->
<link rel="stylesheet" href="../stutic/css/outside.css">

<script type="text/javascript" src="../stutic/css/jquery-3.4.1.min.js"></script>
<!-- 
<h1>今日お勧めする外での過ごし方は{{y}}です</h1> -->

<!-- <img src="../stutic/css/{{z}}"> -->
<!-- <img src="../stutic/css/スクリーンショット (50).png"> -->

<header><p></p></header>
<body>
    <p>今日のおすすめ</p>

    <a href="{{n}}">
        <h1>
            <!-- {{y}} -->
            <!-- <img src="{{y}}"> -->
            <img src="https://cdn.discordapp.com/attachments/654119593803251745/655948175454240768/SUNABACO.png">
        </h1>
        <div class="box"></div>
    </a>


    <a href="{{o}}">
        <h2>
            <!-- {{k}} -->
            <img src="https://cdn.discordapp.com/attachments/654119593803251745/656323412544847872/7c8c9bd64e3544ee.png">
        </h2>
        <div class="box2"></div>
    </a>

    <a href="{{p}}">
        <h3>
            <!-- {{l}} -->
            <img src="https://cdn.discordapp.com/attachments/654119593803251745/655948175454240768/SUNABACO.png">
        </h3>
        <div class="box3"></div>
    </a>

    <a href="{{q}}">
        <h4>
            <!-- {{m}} -->
            <img src="https://cdn.discordapp.com/attachments/654119593803251745/656323410380455948/18e85da701a2ff6c.png">
        </h4>
        <div class="box4"></div>
    </a>

    
    <a href="/outside">
        <h5>
            <!-- もう一度選ぶ -->
            <img src="https://cdn.discordapp.com/attachments/654119593803251745/655948175454240768/SUNABACO.png">
        </h5>
        <div class="box5"></div>
    </a>
    
    <!-- <img src="../stutic/css/スクリーンショット (50).png"> -->
    <img src="https://cdn.discordapp.com/attachments/654119593803251745/655940224219742249/TOP.png">
    
    <script src="../stutic/css/outside.js"></script>
</body>
    



{% endblock %}